// fonts
$serious: 'Are You Serious', cursive;
$courgette: 'Courgette', cursive;
$eater: 'Eater', cursive;
$finger-paint: 'Finger Paint', cursive;
$henny-penny: 'Henny Penny', cursive;
$irish-grover: 'Irish Grover', cursive;
$ribeye: 'Ribeye', cursive;
$roboto: 'Roboto', sans-serif;
$shojumaru: 'Shojumaru', cursive;
