@import '../styles/core/reset';
@import '../styles/core/variables';

body {
  background-color: black;
}

.header {
  //background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__img {
  width: 40%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__title {
  color: azure;
  font-family: $eater;
  font-size: 40px;
}

.form {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
}

.container {
}

.container__search {
  color: #fff;
  font-family: $shojumaru;
  padding-right: 10px;
}

.container__search--input {
  border: solid 2px orangered;
}

.container__search2 {
  color: #fff;
  font-family: $shojumaru;
  padding-right: 10px;
}

.container__search2--input {
  border: solid 2px orangered;
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-left: 30px;
}

.cardList__card {
  background: linear-gradient(rgb(0, 4, 255), rgb(84, 232, 234));
  border: solid 1px blue;
  width: 150px;
  height: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.cardList__card--image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.cardList__card--name {
  color: black;
  font-family: $courgette;
  font-size: 12px;
  padding: 3px;
}

.cardList__card--species {
  color: black;
  font-family: $eater;
  font-size: 10px;
}

//cardInfo
.containerCardInfo {
  display: flex;
  background: linear-gradient(rgb(115, 2, 137), rgb(218, 123, 250));
  border: solid 2px rgb(253, 4, 191);
  border-radius: 10px;
  width: 50%;
  padding: 20px 20px 10px 20px;
  margin: auto;
}
.containerCardInfo__image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.cardInfo {
  color: #fff;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  line-height: 1.2;
}

.cardInfo__name {
  font-size: 24px;
  font-family: $henny-penny;
  padding-bottom: 5px;
}

.cardInfo__specie {
  font-size: 18px;
  font-family: $irish-grover;
}

.cardInfo__origin {
  font-size: 18px;
  font-family: $irish-grover;
}

.cardInfo__episodes {
  font-size: 18px;
  font-family: $irish-grover;
}

.cardInfo__status {
  font-size: 18px;
  font-family: $irish-grover;
}

.return {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-family: $ribeye;
}
//menssageError
.errorCharacter {
  color: #fff;
}
.messageError {
  color: #fff;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  padding: 30px 0 20px 0;
}
.footer__img {
  width: 10%;
  height: 10%;
}
.footer__text {
  color: white;
  font-size: 25px;
  font-family: $henny-penny;
}
